## <summary>Policy for network configuration: tailscale server and client.</summary>
#
########################################
## <summary>
##      Perform network connections.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
## <rolecap/>
#
interface(`tailscale_network_connection',`
		gen_require(`
#			type http_port_t;
			type kernel_t;

		#	type node_t;
		')
		allow $1 self:process { setsched siginh noatsecure rlimitinh setexec transition };

		allow $1 self:capability { net_admin dac_override dac_read_search net_raw sys_ptrace sys_tty_config setuid setgid chown };

		allow $1 self:rawip_socket { setopt create bind };

		#allow $1 node_t:udp_socket node_bind;
		#allow $1 node_t:tcp_socket node_bind;
		#allow $1 http_port_t:tcp_socket name_connect;
		allow $1 kernel_t:unix_dgram_socket sendto;
		allow $1 chkpwd_t:process { noatsecure };
')
